body {
  margin: 1em;
  margin-top: 4em;
  background-color: rgb(210, 217, 235);
}

#NewsFeedRollUp {
  background-color: white;
  padding: .5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

#NewsFeedTitle {
  margin-left: 1em;
}

.col-8 {
  background-color: white;
}

#TopicsFeed {
  padding: 1em;
}

#UserFeed {
  padding: 1em;
}

#NewsFeed {
  padding-top: 1em;
}

#CommentBody {
  padding-top: 1em;
  font-size: 14px;
}

#ArticleBody {
  font-size: 18px;
}

label {
  font-size: 22px;
}

#AddArticleLinkButton {
  background-color: white;
  padding-left: .5em;
  margin-left: 2em;
  margin-bottom: .5em;
  font-size: 12px
}
